<div data-hx-target="this" data-hx-swap="outerHTML" data-hx-push-url="false">
<form method="post" hx-post="{{.URL}}" hx-swap="none" hx-push-url="false" hx-encoding="multipart/form-data" hx-trigger="submit" data-script="init send checkFormRules(changed:me as Values)">
    <div class="layout-title"> + Add a Photo</div>
    <div class="tabs" data-script="install TabContainer">
        <div role="tablist">
            <button type="button" role="tab" id="tab-tabcontainer-0" class="tab-label" aria-controls="panel-tabcontainer-0" tabIndex="0" aria-selected="true">General</button>
            <button type="button" role="tab" id="tab-tabcontainer-1" class="tab-label" aria-controls="panel-tabcontainer-1" tabIndex="0">Description</button>
            <button type="button" role="tab" id="tab-tabcontainer-2" class="tab-label" aria-controls="panel-tabcontainer-2" tabIndex="0">Metadata</button>
            <button type="button" role="tab" id="tab-tabcontainer-3" class="tab-label" aria-controls="panel-tabcontainer-3" tabIndex="0">Links</button>
        </div>
        <div role="tabpanel" id="panel-tabcontainer-0" aria-labelledby="tab-tabcontainer-0">
            <div class="layout layout-vertical">
                <div class="layout-elements">
                    <div class="layout-element layout-vertical-element">
                        <label for="label.text" aria-hidden="true">Title</label>
                        <input name="label" id="label.text" aria-label="Title" tabIndex="0" type="text">
                    </div>
                    <div class="layout-element layout-vertical-element">
                        <label for="data.attachmentId.upload" aria-hidden="true">Photo</label>
                        <input type="file" name="data.attachmentId" id="data.attachmentId.upload" accept="image/*" aria-label="Photo" tabIndex="0" multiple>
                    </div>
                    <div class="layout-element layout-vertical-element">
                        <label for="iconUrl.upload" aria-hidden="true">Preview Thumbnail</label>
                        <input type="file" name="iconUrl" id="iconUrl.upload" accept="image/*" aria-label="Preview Thumbnail" tabIndex="0">
                    </div>
                    <div class="layout-element layout-vertical-element">
                        <label for="featured.toggle" aria-hidden="true"></label>
                        <span id="toggle-featured-false" data-script="install toggle " name="featured" true-text="Featured. Highlighted on work list" false-text="Featured?"></span>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" id="panel-tabcontainer-1" aria-labelledby="tab-tabcontainer-1" hidden="true">
            <div class="layout layout-vertical">
                <div class="layout-elements">
                    <div class="layout-element layout-vertical-element">
                        <label for="data.summary.textarea" aria-hidden="true"></label>
                        <textarea name="data.summary" id="data.summary.textarea" hint="Enter summary or creation description.  Displays on this creation&#39;s detail page." rows="16" aria-labelledby="data.summary.textarea.label" aria-describedby="data.summary.textarea.description" tabIndex="0"></textarea>
                        <div aria-hidden="true" class="text-sm gray40">Enter summary or creation description.  Displays on this creation's detail page.</div>
                    </div>
                    <div class="layout-element layout-vertical-element">
                        <label for="data.mature.toggle" aria-hidden="true"></label>
                        <span id="toggle-data-mature" data-script="install toggle " name="data.mature" true-text="Mature Content" false-text="Mature Content"></span>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" id="panel-tabcontainer-2" aria-labelledby="tab-tabcontainer-2" hidden="true">
            <div class="layout layout-vertical">
                <div class="layout-elements">
                    <div class="layout-element layout-vertical-element">
                        <label for="data.license.select" aria-hidden="true">License</label>
                        <select id="data.license.select" name="data.license" aria-labelledby="data.license.select.label" aria-describedby="data.license.select.description" tabIndex="0">
                            <option></option>
                            <option value="COPYRIGHT">All Rights Reserved</option>
                            <option value="CC-BY">Creative Commons - Attribution</option>
                            <option value="CC-BY-NC">Creative Commons - Attribution - Non Commercial</option>
                            <option value="CC-BY-NC-ND" selected="true">Creative Commons - Attribution - Non Commercial - No Derivatives</option>
                            <option value="CC-BY-NC-SA">Creative Commons - Attribution - Non Commercial - Share Alike</option>
                            <option value="CC-BY-ND">Creative Commons - Attribution - No Derivatives </option>
                            <option value="CC-BY-SA">Creative Commons - Attribution - Share Alike</option>
                            <option value="CC0">Creative Commons Zero - No Rights Reserved</option>
                            <option value="PUBLIC-DOMAIN">Public Domain</option>
                        </select>
                    </div>
                    <div class="layout-element layout-vertical-element">
                        <label for="data.category.select" aria-hidden="true">Category</label>
                        <select id="data.category.select" name="data.category" aria-labelledby="data.category.select.label" aria-describedby="data.category.select.description" tabIndex="0">
                            <option></option>
                            <option value="DIGITAL">Digital Art</option>
                            <option value="TRADITIONAL">Traditional Media</option>
                            <option value="ANIMATED">Animated</option>
                            <option value="FANART">Fan Art</option>
                            <option value="FRACTAL">Fractals</option>
                            <option value="ARTISAN">Artisan Crafts</option>
                            <option value="STOCK-IMAGE">Stock Art</option>
                            <option value="PHOTOGRAPHY">Photography</option>
                            <option value="MIXED-MEDIA">Mixed Media</option>
                            <option value="COMIC">Comics and Graphic Novels</option>
                            <option value="COSPLAY">Cosplay</option>
                            <option value="AUDIO">Audio</option>
                            <option value="FICTION">Fiction</option>
                            <option value="FANFIC">Fan Fiction</option>
                            <option value="NON-FICTION">Non-Fiction</option>
                            <option value="POETRY-LYRICS">Poetry and Lyrics</option>
                            <option value="PROGRAM">Programs and Applications</option>
                        </select>
                    </div>
                    <div class="layout-element layout-vertical-element">
                        <label for="data.tags.text" aria-hidden="true">Tags</label>
                        <input name="data.tags" id="data.tags.text" aria-label="Tags" aria-description="Enter #Tags separated by spaces." tabIndex="0" type="text" value="#test #agallery #stuffyouhaveuploaded">
                        <div aria-hidden="true" class="text-sm gray40">Enter #Tags separated by spaces.</div>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" id="panel-tabcontainer-3" aria-labelledby="tab-tabcontainer-3" hidden="true">
            <div class="layout layout-vertical">
                <div class="layout-elements">
                    <div class="layout-element layout-vertical-element">
                        <label for="data.links.DEVIANTART.text" aria-hidden="true"></label>
                        <input name="data.links.DEVIANTART" id="data.links.DEVIANTART.text" tabIndex="0" placeholder="DeviantArt" type="url">
                    </div>
                    <div class="layout-element layout-vertical-element">
                        <label for="data.links.PIXELFED.text" aria-hidden="true"></label>
                        <input name="data.links.PIXELFED" id="data.links.PIXELFED.text" tabIndex="0" placeholder="PixelFed" type="url">
                    </div>
                    <div class="layout-element layout-vertical-element">
                        <label for="data.links.TUMBLR.text" aria-hidden="true"></label>
                        <input name="data.links.TUMBLR" id="data.links.TUMBLR.text" tabIndex="0" placeholder="Tumblr" type="url">
                    </div>
                    <div class="layout-element layout-vertical-element">
                        <label for="data.links.YOUTUBE.text" aria-hidden="true"></label>
                        <input name="data.links.YOUTUBE" id="data.links.YOUTUBE.text" tabIndex="0" placeholder="YouTube" type="url">
                    </div>
                    <div class="layout-element layout-vertical-element">
                        <label for="data.links.OTHER1.text" aria-hidden="true"></label>
                        <input name="data.links.OTHER1" id="data.links.OTHER1.text" tabIndex="0" placeholder="Other" type="url">
                    </div>
                    <div class="layout-element layout-vertical-element">
                        <label for="data.links.OTHER2.text" aria-hidden="true"></label>
                        <input name="data.links.OTHER2" id="data.links.OTHER2.text" tabIndex="0" placeholder="Other" type="url">
                    </div>
                    <div class="layout-element layout-vertical-element">
                        <label for="data.links.OTHER3.text" aria-hidden="true"></label>
                        <input name="data.links.OTHER3" id="data.links.OTHER3.text" tabIndex="0" placeholder="Other" type="url">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex-row">
        <div class="flex-grow">
            <button type="submit" id="inline-save-button" class="primary" tabIndex="0" data-script="install SaveButton">Save Changes</button>
            <button type="button" data-script="on click trigger closeModal" tabIndex="0">Cancel</button>
            <span id="htmx-response-message"></span>
        </div>
    </div>
</form>
</div>
<div
    hx-get="/{{.StreamID}}/add-creation"
    hx-trigger="refreshPage from:window"
    hx-target="main"
    hx-swap="innerHTML"
    hx-push-url="false">
</div>
